<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.email_field :email, class:"form-control", placeholder: "email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password, class:"form-control", placeholder: "password", autocomplete: "current-password" %>
  </div>
 <br>
  <% if devise_mapping.rememberable? %>
    <div class="field form-group">
      <%= f.check_box :remember_me, class:"form-control" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
